body {
background-image: url(images/catbg.gif); 
background-repeat:no-repeat ;
background-size:100%;
margin: 0;
padding: 1%;


background-color: black;
font-family: Helvetica, sans-serif;
font-size: 12pt;
color: white;
}

.box-1{
position:fixed;
font-size: 12pt;


}

p{
	font-family: helvetica;,sans-serif;
	font-size: 12pt;
}

a{
	text-decoration: none;
	color:white;
  sel
}
a:hover {
  color: black;
}


/*Class to affect the ENTIRE page at once */
* {
  
}

.div1{
	border-color: deeppink;
	width: 64.8%;
	float: right;
  cursor: crosshair;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  cursor: crosshair;
}

/* Create 3 equal columns that sits next to each other */
.column {
  -ms-flex: 32%; /* IE10 */
  flex: 32%;
  max-width: 32%;
  padding: 0 5px;
  cursor: crosshair;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: crosshair;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

.add_crosshair {
  cursor: crosshair;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

.pos-relative {
   position: relative;
}


.width50 {
  width: 50%;
}

/* Next & previous buttons */
.prev {
  position: absolute;
  top: 50%;
  float: right;
  color: black;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  position: absolute;
  float: left;
  top: 50%;
  color: black;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.prev50 {
  position: absolute;
  top: 50%;
  float: left;
  color: black;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}


.next50 {
  position: absolute;
  right: 50%;
  top: 50%;
  color: black;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}



.next2 {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.instagram-link {
    position: fixed;
    bottom: 0;
    right: 0;

    text-align: right;
  }
  .instagram-link img {
    width: 100px;
    height: 100px;
  }
