body {

background-color: #F5E5D0;
font-family: helvetica, sans-serif;
font-size: 20pt;
}

.box-1{
position:fixed;
font-size: 12pt;


}

p{
	font-family: helvetica light;,sans-serif;
}

a{
	text-decoration: none;
	color:black;
}