body {
  

background-image: url(Images/IMG_1633_1.gif);
background-repeat:tile;
background-size:cover;
margin: 0;
padding: 1% ;


background-color: black;
font-family: "freight-text-pro", serif;
font-weight: 300;
font-style: normal;
font-size: 12pt;
color: white;
}







p{
	font-family: "freight-text-pro", serif;
font-weight: 300;
font-style: normal;
font-size: 1em;
}

a{
	text-decoration: none;
	color:white;
  sel
}
a:hover {
  color: dodgerblue;
font-weight: 700;
font-style: normal;

}


/*Class to affect the ENTIRE page at once */





/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}





nav p{display:inline-block;
  font-size: 2em;
  padding:0px 10px 0px 0px;
  font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 700;
font-style: italic;
  

 }
/* -----MOBILE-----*/


/*@media (max-width: 900px) {

  /* MOBILE */
/*        @media screen and (max-width: 900px) {
            .images img {
                width: 70%;
                max-height: 100%;
                margin-bottom: 10px;
            }

            .text-container {
                position: relative; 
                top: 0;
                width: 40%;
                background-color: none;
                padding: 0px;
                font-size: 20pt;
            }
  .image-container {
    width: 80vw;
  }
} 












